@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #c5e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.wrap {
  max-width: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 87px;
  .container {
    max-width: 920px;
    width: 100%;
    height: 481px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    gap: 48px;
    padding: 0 0 0 48px;

    .bill {
      max-width: 379px;
      width: 100%;
      height: 388px;
      margin-top: 45px;
      .bil_one {
        max-width: 379px;
        width: 100%;
        height: 78px;
        label {
          font-size: 16px;
          font-weight: 700;
          line-height: 23.7px;
          color: #5e7a7d;
        }
        .in {
          max-width: 379px;
          width: 100%;
          height: 48px;
          font-size: 24px;
          font-weight: 700;
          color: #00474b;
          line-height: 35.54px;
          border-radius: 5px;
          border: none;
          background: #f3f9fa;
          background-image: url(/img/dollar.svg);
          background-repeat: no-repeat;
          background-position: 20px;
          text-align: right;
          &:focus {
            outline: 1px solid #26c2ae;
          }
        }
      }
      .tips {
        max-width: 379px;
        width: 100%;
        height: 152px;
        margin-top: 40px;
        label {
          font-family: "Space Mono";
          font-size: 16px;
          font-weight: 700;
          color: #5e7a7d;
        }
        .tip {
          max-width: 379px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 117px);
          grid-template-rows: repeat(2, 48px);
          gap: 16px 14px;

          .num {
            background: #f3f9fa;
            border: none;
            font-size: 24px;
            font-family: "Space Mono";
            font-weight: 700;
            line-height: 35.54px;
            color: #547878;
            border-radius: 5px;
            &:focus {
              outline: 1px solid #26c2ae;
            }
          }
          button {
            background: #00474b;
            font-size: 24px;
            font-family: "Space Mono";
            font-weight: 700;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            &:hover {
              background: #9fe8df;
              color: #00474b;
            }
          }
        }
      }
      .people {
        margin-top: 40px;
        max-width: 379px;
        width: 100%;
        height: 78px;
        label {
          font-size: 16px;
          font-family: "Space Mono";
          font-weight: 700;
          line-height: 23px;
          color: #5e7a7d;
        }
        .numer_input {
          margin-top: 6px;
          // background-image: url(/img/Combined\ Shape.svg);
          max-width: 379px;
          width: 100%;
          height: 48px;
          font-size: 24px;
          font-family: "Space Mono";
          font-weight: 700;
          border: none;
          color: #00474b;
          background: #f3f9fa url(/img/Combined\ Shape.svg);
          background-repeat: no-repeat;
          background-position: 20px;
          text-align: right;
          border-radius: 5px;
          &:focus {
            outline: 1px solid #e17052;
          }
        }
      }
    }
    .amont {
      max-width: 413px;
      width: 100%;
      height: 417px;
      background: #00474b;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 40px 0 0 40px;
      gap: 25px;
      margin-top: 32px;
      .tip-amount {
        max-width: 333px;
        width: 100%;
        height: 71px;
        display: flex;
        justify-content: space-between;
        .tip_text {
          max-width: 98px;
          width: 100%;
          height: 44px;
          margin-top: 16px;
          p {
            font-family: "Space Mono";
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            line-height: 23px;
          }
          span {
            font-family: "Space Mono";
            font-size: 13px;
            font-weight: 700;
            color: #7f9d9f;
            line-height: 19px;
          }
        }
        .tip-numer {
          max-width: 143px;
          width: 100%;
          height: 71px;
          text-align: center;
          h1 {
            font-family: "Space Mono";
            font-size: 48px;
            font-weight: 700;
            color: #26c2ae;
          }
        }
      }
      .Total {
        max-width: 333px;
        width: 100%;
        height: 71px;
        display: flex;
        justify-content: space-between;
        .total-text {
          max-width: 64px;
          width: 100%;
          height: 44px;
          margin-top: 16px;

          p {
            font-family: "Space Mono";
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
          }
          span {
            font-family: "Space Mono";
            font-size: 13px;
            font-weight: 700;
            line-height: 19px;
            color: #7f9d9f;
          }
        }
        .total_numer {
          max-width: 172px;
          width: 100%;
          height: 71px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            font-family: "Space Mono";
            font-size: 48px;
            font-weight: 700;
            color: #26c2ae;
          }
        }
      }
      button {
        margin-top: 122px;
        border: none;
        border-radius: 8px;
        max-width: 333px;
        width: 100%;
        height: 48px;
        background: #26c2ae;
        cursor: pointer;
        font-family: "Space Mono";
        font-size: 20px;
        color: #00474b;
        font-weight: 700;
        &:hover {
          background: #9fe8df;
          color: #00474b;
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .wrap {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container {
      max-width: 375px;
      width: 100%;
      height: 789px;
      background: #ffffff;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 48px;
      padding: 0;
      justify-content: center;
      align-items: center;

      .bill {
        max-width: 311px;
        width: 100%;
        height: 388px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
        .bil_one {
          max-width: 379px;
          width: 100%;
          height: 78px;
          margin: 0;
          margin-top: -32px;
          label {
            font-family: "Space Mono";
            font-size: 16px;
            font-weight: 700;
            line-height: 23.7px;
            color: #5e7a7d;
          }
          .in {
            max-width: 379px;
            width: 100%;
            height: 48px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Space Mono";
            color: #00474b;
            line-height: 35.54px;
            border-radius: 5px;
            border: none;
            background: #f3f9fa;
            background-image: url(/img/dollar.svg);
            background-repeat: no-repeat;
            background-position: 20px;
            text-align: right;
            &:focus {
              outline: 1px solid #26c2ae;
            }
          }
        }
        .tips {
          max-width: 379px;
          width: 100%;
          height: 152px;
          margin-top: 18px;

          label {
            font-family: "Space Mono";
            font-size: 16px;
            font-weight: 700;
            color: #5e7a7d;
          }
          .tip {
            max-width: 379px;
            width: 100%;
            display: grid;
            height: 176px;
            justify-content: center;
            grid-template-columns: repeat(2, 146px);
            grid-template-rows: repeat(2, 48px);
            gap: 16px 16px;
            margin-bottom: 32px;

            .num {
              background: #f3f9fa;
              border: none;
              font-size: 24px;
              font-family: "Space Mono";
              font-weight: 700;
              line-height: 35.54px;
              color: #547878;
              border-radius: 5px;
              &:focus {
                outline: 1px solid #26c2ae;
              }
            }
            button {
              background: #00474b;
              font-size: 24px;
              font-weight: 700;
              color: #ffffff;
              border-radius: 5px;
              cursor: pointer;
              border: none;
              &:hover {
                background: #9fe8df;
                color: #00474b;
              }
            }
          }
        }
        .people {
          max-width: 379px;
          width: 100%;
          height: 78px;
          margin: 0;
          margin-top: 65px;
          label {
            font-family: "Space Mono";
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            color: #5e7a7d;
          }
          .numer_input {
            margin-top: 6px;
            max-width: 379px;
            width: 100%;
            height: 48px;
            font-size: 24px;
            font-weight: 700;
            border: none;
            color: #00474b;
            background: #f3f9fa url(/img/Combined\ Shape.svg);
            background-repeat: no-repeat;
            background-position: 20px;
            text-align: right;
            border-radius: 5px;
            &:focus {
              outline: 1px solid #e17052;
            }
          }
        }
      }
      .amont {
        max-width: 327px;
        width: 100%;
        height: 257px;
        background: #00474b;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 20px;
        padding: 24px 0 0 24px;
        margin-bottom: -32px;

        .tip-amount {
          max-width: 333px;
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: space-between;
          .tip_text {
            max-width: 98px;
            width: 100%;
            height: 44px;
            margin-top: 16px;
            p {
              font-family: "Space Mono";
              font-size: 16px;
              font-weight: 700;
              color: #ffffff;
              line-height: 23px;
            }
            span {
              font-family: "Space Mono";
              font-size: 13px;
              font-weight: 700;
              color: #7f9d9f;
              line-height: 19px;
            }
          }
          .tip-numer {
            max-width: 143px;
            width: 100%;
            height: 48px;
            text-align: center;
            h1 {
              font-family: "Space Mono";
              font-size: 32px;
              font-weight: 700;
              color: #26c2ae;
            }
          }
        }
        .Total {
          max-width: 333px;
          width: 100%;
          height: 71px;
          display: flex;
          justify-content: space-between;
          .total-text {
            max-width: 64px;
            width: 100%;
            height: 44px;
            margin-top: 16px;

            p {
              font-family: "Space Mono";
              font-size: 16px;
              font-weight: 700;
              color: #ffffff;
            }
            span {
              font-family: "Space Mono";
              font-size: 13px;
              font-weight: 700;
              line-height: 19px;
              color: #7f9d9f;
            }
          }
          .total_numer {
            max-width: 172px;
            width: 100%;
            height: 71px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
              font-family: "Space Mono";
              font-size: 32px;
              font-weight: 700;
              color: #26c2ae;
            }
          }
        }
        button {
          margin: 0;
          border: none;
          border-radius: 8px;
          max-width: 281px;
          width: 100%;
          height: 48px;
          background: #26c2ae;
          cursor: pointer;
          font-size: 20px;
          font-family: "Space Mono";
          color: #00474b;
          font-weight: 700;
          &:hover {
            background: #9fe8df;
            color: #00474b;
          }
        }
      }
    }
  }
}
